@import 'tailwindcss';

/* Replaces default Tailwind neutral & theme palettes with Circadia */
@theme {
  --color-background:              #f4eee1;
  --color-foreground:              #28323a;
  --color-surface:                 #ece4d4;
  --color-element:                 #e2d8c3;
  --color-border:                  #d4c8b2;
  --color-primary:                 #195697;
}

@layer base {
  .dark {
    --color-background:            #15141b;
    --color-foreground:            #eae3d8;
    --color-surface:               #1c1a24;
    --color-element:               #252330;
    --color-border:                #343041;
    --color-primary:               #e89a49;
  }
}
