@import 'tailwindcss';

/* Replaces default Tailwind neutral & theme palettes with Circadia */
@theme {
  --color-background:              #f7f2e6;
  --color-foreground:              #28323a;
  --color-surface:                 #eee7d6;
  --color-element:                 #e5dcc6;
  --color-border:                  #d7cdb7;
  --color-primary:                 #0048b3;
}

@layer base {
  .dark {
    --color-background:            #15141b;
    --color-foreground:            #eae3d8;
    --color-surface:               #1c1a24;
    --color-element:               #252330;
    --color-border:                #343041;
    --color-primary:               #e89a49;
  }
}
